:root {
  --preto: #000;
  --branco: #fff;
  --cinza: #bfbfbf;
  --rosa: #fdd9ff;
  --rosa-claro: #ffe9fb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--branco);
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: -10;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.95) 20%,
    rgba(0, 0, 0, 0.85) 40%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media (max-width: 768px) {
  .Header {
    display: flex;
  }

  .LogoSakura {
    margin: 0 !important;
  }
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header div a {
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  color: var(--branco);
  margin: 30px;
  font-size: 40px;
  transition: all 0.1s;
}

.Header div a:hover {
  transition: all 0.1s;
  color: var(--rosa);
}

.LogoSakura {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-right: 300px;
}

.LogoSakuraFoto {
  width: 80px;
  border-radius: 100px;
  filter: grayscale(100%);
  transition: all 0.2s;
}

.LogoSakuraFoto:hover {
  transition: all 0.2s;
  filter: grayscale(0%);
}

.main {
  margin-top: 120px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  min-height: 57vh;
}

#lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-carrinho {
  background: var(--preto);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.25s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.item-carrinho.show {
  opacity: 1;
  transform: translateY(0);
}

.item-carrinho:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.item-carrinho h3 {
  color: var(--branco);
  font-size: 22px;
  letter-spacing: 1px;
}

.item-carrinho p {
  font-size: 14px;
  color: var(--cinza);
}

.item-carrinho span {
  font-size: 18px;
  font-weight: bold;
  color: var(--rosa);
}

.remover {
  font-size: 20px;
  color: var(--preto);
  padding: 10px 20px;
  border: none;
  background-color: var(--branco);
  transition: all 0.2s;
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
}

.remover:hover {
  background: var(--rosa);
}

.vazio {
  text-align: center;
  color: var(--preto);
  margin-top: 50px;
  font-size: 18px;
}

/*---------------Footer--------------*/

footer {
  background-color: var(--preto);
  color: var(--branco);
  padding: 37.5px;
}

@media (max-width: 768px) {
  footer {
    padding: 20px;
  }

  .ContainerFooter {
    display: flex !important;
    flex-direction: column;
    gap: 50px !important;
  }

  .KASASAKURA {
    margin-left: 0 !important;
    width: 100% !important;
    display: flex !important;
    gap: 10px !important;
    align-items: center !important;
  }

  .LinksFooter {
    margin-left: 0 !important;
    width: 50% !important;
    display: flex !important;
    gap: 10px !important;
    align-items: center !important;
    font-size: clamp(8px, 4vw, 15px);
  }

  .Suporte {
    margin-left: 0 !important;
    width: 50% !important;
    display: flex !important;
    gap: 10px !important;
    align-items: center !important;
    font-size: clamp(8px, 4vw, 15px);
  }

  .NosContate {
    margin-left: 0 !important;
    width: 100% !important;
    display: flex !important;
    gap: 10px !important;
    align-items: center !important;
    word-break: break-word;
  }

  .LinksPequenos {
    display: flex !important;
    width: 100% !important;
  }
}

.ContainerFooter {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.ContainerFooter h3 {
  letter-spacing: 1px;
  font-size: 26px;
}

.LinksPequenos {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.ContainerFooter a {
  color: var(--branco);
  text-decoration: none;
}

.KASASAKURA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 25%;
  margin-left: 20px;
  font-size: clamp(5px, 5vw, 18px);
}

.KASASAKURA h1 {
  letter-spacing: 1px;
}

.KASASAKURA a {
  font-size: 22px;
  cursor: pointer;
}

.KASASAKURA p {
  word-break: normal;
}

.LinksFooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin-left: 20px;
}

.LinksFooter a {
  width: 24%;
}

.IconesFooter {
  display: flex;
  gap: 10px;
}

.Suporte {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-left: 20px;
}

.Suporte a {
  width: 24%;
}

.NosContate {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 20px;
  gap: 20px !important;
}

.NosContate h2 {
  letter-spacing: 1px;
  word-break: break-all;
}
